/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Utility */

:root {
  --drop-bg-small: #ffffff;
  --drop-jumbo: #b4d0e6;
  --drop-button: #0061fe;
  --drop-foot: #000000;
}

/* Common Rules */

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1rem;
  justify-content: space-evenly;
  padding: 1rem;
  height: max-content;
}

.col12 {
  width: calc(100% / 12 * 12);
  flex-basis: auto;
}

.col2 {
  width: calc(100% / 12 * 2);
  flex-basis: auto;
}

.col3 {
  width: calc(100% / 12 * 3);
  flex-basis: auto;
}

.col4 {
  width: calc(100% / 12 * 4);
}

.col6 {
  width: calc(100% / 12 * 6);
  flex-basis: auto;
}

.col8 {
  width: calc(100% / 12 * 8);
  flex-basis: auto;
}

img {
  max-width: 100%;
}

.price {
  font-weight: bold;
  padding: 0.5rem;
}

.month {
  color: gray;
  padding: 0.5rem;
}

.bluetext {
  color: blue;
  text-decoration: underline;
}

/* Element Rules */

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;

  span {
    padding: 1rem;
  }
}

.button {
  color: #ffffff;
  background-color: var(--drop-button);
  border: solid 1px;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
}

.leftnav {
  display: flex;
}

h1 {
  font-size: 5rem;
  padding: 1.5rem;
}

h2 {
  padding: 1.5rem;
}

.facture_btn {
  margin: 2.5rem;
}

.freetrial {
  display: flex;
  flex-direction: column;
  text-align: center;

  span {
    margin: 1rem;
  }
}

.fa-solid {
  font-size: 2.5rem;
}

.jumbo {
  background-color: var(--drop-jumbo);
}

.single,
.team,
.company {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: solid 1px;
  align-items: center;
  .fa-solid {
    font-size: 1rem;
  }

  i {
    margin: 0.5rem;
  }
}

.sub_type,
.sub_detail,
.sub_recap {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  text-align: center;
  span {
    margin: 0.5rem;
  }
  i {
    margin: 0.5rem;
  }
}

.bussinessplan {
  display: flex;
  align-items: center;
}

.enterprise {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  i {
    margin: 0.5rem;
  }
}

.enterprise_top {
  align-self: center;
}

.enterprise_detail {
  display: flex;
  justify-content: space-between;
}

.left_enterprise {
  display: flex;
  flex-direction: column;
  span {
    font-weight: bold;
    margin: 0.6rem;
  }

  p {
    margin: 0.4rem;
  }
}
